@import "tailwindcss";

.signin-container {
  @apply flex justify-center items-center h-screen;
}

.signin-content {
  @apply flex flex-col items-center justify-center 
  border items-start border-gray-300 px-12 py-8 rounded-lg shadow-lg
   bg-white ;
}

body{
  @apply bg-gradient-to-tr from-sky-500
   to-green-800;
}

.input{
  @apply border border-gray-300 rounded-lg p-2 w-full;
}

.text{
  @apply text-sm font-semibold mt-4;
}

.button{
  @apply bg-blue-500 text-white px-8 py-2 rounded-lg
   mt-4;
}

.content-header{
  @apply text-2xl font-bold pt-0 pb-5 mb-5 border-b-2 border-teal-600 text-teal-600;
}


